@media screen and (max-width: 420px) {
    .task {
        flex-direction: column;
    }

    .check-todo {
        position: relative;
    }
}

.task {

    animation: createNote .5s;

    display: flex;
    align-items: center;
    justify-content: baseline;

    margin-top: 20px;
    border-radius: 10px;
    background-color: #17343b;
    color: whitesmoke;
    min-height: 40px;
    padding: 5px 10px 5px 10px;
    width: 100%;
    gap: 15px;
    border-bottom: #1d515d solid 2px;
}

form > .check-todo {
    flex: 0.5;
}

.check-todo {
    flex: 0.5;
}

.todo-title {
    font-weight: 600;
    font-size: 17pt;
    flex: 1;
}

.todo-desc {
    font-size: 11pt;
    display: block;
    flex: 1;
}

.task > footer {
    flex: 0.5;
    color: #d2d2d2;
    font-size: 10pt;
}

.task > button {
    flex: 1;
}

.task-completed {
    text-decoration: line-through;
    background-color: #37113e;
}

@keyframes createNote {
    from {
        transform: translateY(-20px);
    }

    to {
        transform: translateY(0px);
    }
}