* {
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    font-family: 'Ubuntu';
}

#root {
    margin-top: 100px;
}

body {
    margin: 0;
}

.btn {
    padding: 5px 10px 5px 10px;
    font-size: 13pt;
    margin: 2px;
    border-radius: 3px;
}

.btn-primary {
    background: linear-gradient(#9da4fd, #0046dd);
    color: whitesmoke;
}

.btn-primary:hover {
    background: linear-gradient( #0046dd, #9da4fd);
    color: whitesmoke;
}

.btn-success {
    background: linear-gradient(#9dfda2, #00dd21);
    color: whitesmoke;
}

.btn-success:hover {
    background: linear-gradient( #00dd21, #9dfda2,);
    color: whitesmoke;
}

.btn-danger {
    background: linear-gradient(  #fd9d9d, #dd0000);
    color: whitesmoke;
}

.btn-danger:hover {
    
    background: linear-gradient( #dd0000, #fd9d9d);
    color: whitesmoke;
}

.task-list {
    margin-right: 100px;
    margin-left: 100px;
}