* {
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    font-family: 'Cascadia Code';
    font-weight: 500;
}

.navbar {
    padding: 10px;
    background-color: #17343b;
    color: white;
}

.app {
    display: flex;
    flex-direction: column;
}

body {
    margin: 0;
    min-height: 100vh;
    background-color: #101d21;
}

.btn {
    padding: 5px 10px 5px 10px;
    font-size: 13pt;
    margin: 2px;
    border-radius: 3px;
}

.btn-primary {
    border: 1px solid #002f94;
    background: linear-gradient(#9da4fd, #0046dd);
    color: whitesmoke;
    width: 100%;    
}

.btn-primary:hover {
    background: linear-gradient( #0046dd, #9da4fd);
    color: whitesmoke;
}

.btn-success {
    border: 1px solid #01d328;
    background: linear-gradient(#9dfda2, #00dd21);
    color: #006307;
    width: 100%;
}

.btn-success:hover {
    background: linear-gradient( #00dd21, #9dfda2,);
    color: whitesmoke;
}

.btn-danger {
    border: 1px solid #cf0000;
    background: linear-gradient(  #fd9d9d, #dd0000);
    width: 100%;
    color: #3e0000;
}

.btn-danger:hover {
    
    background: linear-gradient( #dd0000, #fd9d9d);
    color: whitesmoke;
}